{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div >
                <div class="accordion_in">
                    <div class="acc_head">
                        <span class="hide_open">Ajout Produit :</span>
                        <span class="fr "></span>
                    </div>
                    <div class="acc_content1">
                        <a href="{{ path('accueil')}}">Accueil</a>
                        <form id="create-product" method="POST" action="{{ path("product_add") }}" enctype="multipart/form-data" novalidate>
                            <div id="info_perso">
                                <ul id="ul_perso">
                                    <li>
                                        <label>Titre</label>
                                        <input type="text" name="titre"value="{{ product.titre }}" required>
                                    </li>
                                    <li>
                                        <label>Description</label>
                                        <textarea type="text" name="description" value="" required>{{ product.description }}</textarea>
                                    </li>
                                    <li>
                                        <label>Marque</label>
                                        <select id="marque" name="marque" required>
                                            <option value=""> </option>
                                            {% for marque in marques %}
                                                <option value="{{ marque.id }}" {% if (product.marque is not null and marque.id == product.marque.id) %} selected {% endif %}>{{ marque.nom }} </option>
                                            {% endfor %}
                                        </select>
                                    </li>
                                    <li>
                                        <label>Prix TTC </label>
                                        <input type="number" name="prix"  id="prix" value="{{ product.prixttc }}" required min=0 required>
                                    </li>
                                    <li>
                                        <label>Type</label>
                                        <select id="type_product" name="type_product" required>
                                            <option value=""> </option>
                                            {% for type in types %}
                                            <option value="{{ type.id }}" {% if (product.type is not null and type.id == product.type.id) %} selected {% endif %}>{{ type.nom }} </option>
                                            {% endfor %}
                                        </select>
                                    </li>
                                    <li>
                                        <label>Genre</label>
                                        <select id="genre_product" name="genre_product" required>
                                            <option value=""> </option>
                                            {% for genre in genres %}
                                            <option value="{{ genre.id }}" {% if (product.genre is not null and genre.id == product.genre.id) %} selected {% endif %}>{{ genre.nom }} </option>
                                            {% endfor %}
                                        </select>
                                    </li>
                                    <input type="button" value="Ajouter" class="submit1 btn-info" onclick="addProduct()">
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function addProduct(){
            if($('#titre').val() == '' || $('#description').val() == '' || $('#marque').val() == ''
                || $('#prix').val() == '' || $('#type_product').val() == '' || $('#genre_product').val() == ''){
                alert('Tous les Champs sont obligatoires')
            }else {
                $('#create-product').submit();
            }
        }

    </script>
{% endblock %}