<label class="textTotal">Le Total de vos achats est de</label>
<label class="grand_total"></label>
<table class="table" id="">
    <thead>
    <tr>
        {% if (isResume == false) %}
        <th>Action</th>
        {% endif %}
        <th>Produit</th>
        <th>Prix Unitaire</th>
        <th>Quantité</th>
        <th>prix Total</th>
    </tr>
    </thead>
    <tbody>
        {% for commands in productsCommand  %}
            <tr>
                {% for key, command in commands %}
                    {% if (key not in ['nom','prenom','email','id','date']) %}
                        <td>{{ command }}</td>
                    {% endif %}
                {% endfor %}
            </tr>

        {% endfor %}
    </tbody>
</table>
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            gettotal();
        }
        function gettotal(){
            var total = 0;
            var i = 0;
            $('.table tr').each(function(){
                if(i != 0) {
                    total = total + parseFloat($(this).find('.total').text());
                }
                i= i +1;
            });
            $('.grand_total').text(total);
        }
    </script>
{% endblock javascripts %}