{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div >
            <div class="accordion_in">
                <div class="acc_head">
                    <span class="hide_open">Fiche Produit :</span>
                    <span class="fr "></span>
                </div>
                <div class="acc_content1">
                    <a href="{{ path('accueil')}}">Accueil</a>
                    <form id="create-product" method="POST" action="{{ path('client_add') }}" enctype="multipart/form-data" >
                        <input type="hidden" id="clientId" value="{{ client.id }}">
                        <div id="info_perso">
                            <ul id="ul_perso">
                                <li>
                                    <label class="product">Produit</label>
                                    <select id="produit" name="produit" >
                                        <option value=""> </option>
                                        {% for product in products %}
                                            <option value="{{ product.id }}" data-value = {{product.prixttc }} >{{ product.titre }} </option>
                                        {% endfor %}
                                    </select>
                                    <label>Quantité</label>
                                    <input type="number" id="quantite" name="quantite"value="" class="quantite" min='0' required>
                                    <input type="button" value="Ajouter" class="add add-row" >
                                </li>
                            </ul>
                        </div>
                    </form>
                    {% include 'ProductBundle:Product:command_list.html.twig' %}
                    <input type="button" value="Supprimer" class="add delete-row" >
                    <input type="button" value="valider" class="btn-success valider" onclick="sendCommand()">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(".add-row").click(function(){
            var titre = $('#produit :selected').text() ;
            var productId = $('#produit :selected').val() ;
            var prix = $('#produit :selected').attr('data-value');
            var qte = parseInt($('#quantite').val()) ;
            var total = parseFloat(prix) * (qte);
            var ligne =
                "<tr>" +
                    "<td>" +
                        "<input type='checkbox' name='record'>" +
                    "</td>" +
                    "<td data-value="+productId+" class='product'>" + titre + "</td>" +
                    "<td data-value="+productId+" class='pu'>" + prix + "</td>" +
                    "<td>" +
                        "<input type='number' class='qte' min='0' value=" + qte + ">" +
                    "</td>" +
                    "<td class='total'>" + total + "</td>" +
                "</tr>";
            $("table tbody").append(ligne);
            gettotal();
            $('#produit').val('');
            $('#quantite').val(0);
            hideUseProduct(productId,'hide');


        });
        $(".delete-row").click(function(){
            $("table tbody").find('input[name="record"]').each(function(){
                if($(this).is(":checked")){
                    var productId = $(this).parents("tr").find('.product').attr('data-value');
                    $(this).parents("tr").remove();
                    hideUseProduct(productId,'display');
                }
            });
            gettotal();

        });
        function gettotal(){
            var total = 0;
            var i = 0;
            $('.table tr').each(function(){
                if(i != 0) {
                    total = total + parseFloat($(this).find('.total').text());
                }
                i= i +1;
            });
            $('.grand_total').text(total);
        }

        function hideUseProduct(idProduct,type){
            $('#produit option').each(function(){
                var idTohide = $(this).val();
                if(idTohide == idProduct){
                    if(type == 'hide'){
                        $(this).addClass('hide');
                    }else{
                        $(this).removeClass('hide');
                    }

                }
            });
        }
        $('body').on('change','input.qte',function(){
            var prix = parseFloat( $(this).parents('tr').find('.pu').text());
            var qte = parseInt($(this).val()) ;
            var total = parseFloat(prix) * (qte);
            $(this).parents('tr').find('.total').text(total);
            gettotal();
        });

        function sendCommand(){
            if($('.table tr').length > 1){
                var dataProduct = [];
                var i = 0
                $('.table tr').each(function(){
                    if(i != 0) {
                        product ={
                            productId : $(this).find('.product').attr('data-value'),
                            quantite : $(this).find('.qte').val(),
                        };
                        dataProduct.push(product)
                    }
                    i= i +1;
                });
                $.ajax({
                    type: "POST",
                    url: "{{ path('commande') }}",

                    data: {
                        "clientID": $('#clientId').val(),
                        "dataProduct": dataProduct,
                    },
                    success: function (returnData) {
                        $('.container').remove();
                        $('body').html(returnData);
                    }

                })
            }else{
                alert("Vous n'avez fait aucun commande");
            }
        }

    </script>
{% endblock %}