{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="row" >
            <div class="accordion_in">
                <div class="acc_head">
                    <span class="hide_open">Ajout Produit :</span>
                    <span class="fr "></span>
                </div>
                <div class="acc_content1">
                    <a href="{{ path('accueil')}}">Accueil</a>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Prixttc</th>
                            <th>Quantité</th>
                            <th>Marque</th>
                            <th>Type</th>
                            <th>Genre</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product['titre'] }}</td>
                                <td>{{ product['description'] }}</td>
                                <td>{{ product['prix_ttc'] }}</td>
                                <td>{{ product['stock'] }}</td>
                                <td>{{ product['marque'] }}</td>
                                <td>{{ product['type'] }}</td>
                                <td>{{ product['genre'] }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('product_delete', { 'id': product.id }) }}">delete</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('product_stock', { 'id': product.id }) }}">Gerer stock</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
