
<div class="container">
    <div class="row">
        <div class="row" >
            <div class="accordion_in">
                <div class="acc_head">
                    <span class="hide_open">Résumer Achat :</span>
                    <span class="fr "></span>
                </div>
                <div class="acc_content1">
                    <a href="{{ path('accueil')}}">Accueil</a>
                    {% if (isResume == true) %}
                        <div>Mr,Mme {{ productsCommand[0].nom }} {{ productsCommand[0].prenom }} </div>
                        <div> votre commande numero {{ productsCommand[0].id }} du {{ productsCommand[0].date|date("m/d/Y") }}  a été bien enregistrer</div>
                    {% endif %}
                    {% include 'ProductBundle:Product:command_list.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function () {
        gettotal();
    }
    function gettotal(){
        alert('eee');
        var total = 0;
        var i = 0;
        $('.table tr').each(function(){
            if(i != 0) {
                total = total + parseFloat($(this).find('.total').text());
            }
            i= i +1;
        });
        $('.grand_total').text(total);
    }
</script>
{% endblock javascripts %}