{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="row" >
            <div class="accordion_in">
                <div class="acc_head">
                    <span class="hide_open">Ajout Produit :</span>
                </div>
                <div class="acc_content1">
                    <a href="{{ path('accueil')}}">Accueil</a>
                    <form  id="stock" method="POST" action="{{ path("stock_change",{'id': product.stock_id }) }}" enctype="multipart/form-data" novalidate>
                        <input type="hidden" id="quantite" name="quantite" value="">
                        <input type="hidden" id="id_product" name = "id_product" value="{{ product.id }}">
                        <input type="hidden" id="stock_id" name = "stock_id" value="{{ product.stock_id }}">

                        <div id="info_perso">
                            <ul id="ul_perso">
                                <li>
                                    <label>nom Produit</label>
                                    <input type="text" name="nom_produit" value="{{ product.titre }}">
                                </li>
                                <li>
                                    <label>Quantité actuel</label>
                                    <input type="number" name="stock" id="stock_actuel" value={% if(product.stock != null) %}{{ product.stock }}{% else %}0{% endif %} disabled>
                                </li>
                                <li>
                                    <label>Quantité à ajouter / retirer </label>
                                    <input type="number" name="quantity_change" id="quantity_change" value="">
                                </li>

                                <input type="button" value="Ajouter" class="btn-success" onclick="changeStock('ajout')">
                                <input type="button" value="Retirer" class="btn-danger" onclick="changeStock('retrait')">
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script  type="text/javascript">
        function changeStock(value){
            var quantite_actual = parseInt($('#stock_actuel').val());
            var quantity_change = parseInt($('#quantity_change').val());
            if(isNaN( quantite_actual) || isNaN( quantity_change)) {
                alert('Veuillez entrez un chiffre valide');
            }else{
                if (value == 'ajout') {
                    var quantite = quantite_actual + quantity_change;
                    $('#quantite').val(quantite);
                    $('#stock').submit();
                } else {
                    if (quantite_actual > quantity_change) {
                        var quantite = quantite_actual - quantity_change;
                        $('#quantite').val(quantite);
                        $('#stock').submit();
                    } else {
                        alert('Stock insuffisant pour faire un retrait');
                    }
                }
            }
        }
    </script>
{% endblock %}