<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, shrink-to-fit=no" />
        <link rel='stylesheet' href="{{ asset('css/bootstrap.css') }}"media="screen">
        <link rel='stylesheet' href="{{ asset('css/font.css') }}"media="screen">
        <link rel='stylesheet' href="{{ asset('css/jquery.fs.selecter.css') }}"media="screen">
        <link rel='stylesheet' href="{{ asset('css/style.css') }}"media="screen">
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <title>{% block title %}Challenge Symfony{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
