{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div >
                <div class="accordion_in">
                    <div class="acc_head">
                        <span class="hide_open">Information Client :</span>
                        <span class="fr "></span>
                    </div>
                    <div class="acc_content1">
                        <form id="create-client" method="POST" action="{{ path('client_add') }}" enctype="multipart/form-data" >
                            <div id="info_perso">
                                <ul id="ul_perso">
                                    <li>
                                        <label>Nom</label>
                                        <input type="text" name="nom"value="" required>
                                    </li>
                                    <li>
                                        <label>Prénom</label>
                                        <input type="text" name="prenom" value="" required>
                                    </li>

                                    <li>
                                        <label>Adresse</label>
                                        <input type="text" name="adresse"  value="" required>
                                    </li>

                                    <li>
                                        <label>Email</label>
                                        <input type="text" name="email" id ="email" value="" class="" required>
                                    </li>

                                    <li>
                                        <label>Téléphone</label>
                                        <input type="text" name="tel"  value="" required>
                                    </li>


                                    <input type="submit" value="Ajouter" class="submit1 btn-info" onclick="">
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function validateEmail($email) {
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            return emailReg.test( $email );
        }

        $('#email').focusout(function(){
            if( validateEmail ($('#email').val()) == false) {
                alert('Email non valide');
            }
        })

    </script>
{% endblock %}