{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div >
                <div class="accordion_in">
                    <div class="acc_head">
                        <span class="hide_open">Ajout Marque :</span>
                    </div>
                    <div class="acc_content1">
                        <a href="{{ path('accueil')}}">Accueil</a>
                        <form id="create-marque" method="POST" action="{{ path("marque_add") }}" enctype="multipart/form-data" novalidate>
                            <input type="hidden" name="id" value="{{ marque.id }}">
                            <div id="info_perso">
                                <ul id="ul_perso">
                                    <li>
                                        <label>nom</label>
                                        <input type="text" name="nom" id="nom" value="{{ marque.nom }}" required>
                                    </li>
                                    <li>
                                        <label>Fournisseur</label>
                                        <select id="fournisseur" name="fournisseur_id" required>
                                            <option value=""> </option>
                                            {% if (isEdit) %}
                                                <option value="{{ marque.fournisseur.id }}" selected>{{ marque.fournisseur.nom }} </option>
                                            {% endif %}
                                            {% for fournisseur in fournisseurs %}
                                                <option value="{{ fournisseur.id }}" {% if (marque.fournisseur is not null and marque.fournisseur.id == fournisseur.id) %} selected {% endif %}>{{ fournisseur.nom }} </option>
                                            {% endfor %}
                                        </select>
                                    </li>

                                    <input type="button" value="Ajouter" class="btn-success" onclick="saveMarque()">
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function saveMarque(){
            if($('#fournisseur').val() == '' || $('#nom').val() == ''){
                alert('Tous les Champs sont obligatoires')
            }else {
                $('#create-marque').submit();
            }
        }

    </script>
{% endblock %}