{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="row" >
            <div class="accordion_in">
                <div class="acc_head">
                    <span class="hide_open">Listes des marques</span>
                    <span class="fr "></span>
                </div>
                <div class="acc_content1">
                    <a href="{{ path('accueil')}}">Accueil</a>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Fournisseur</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for marque in marques %}
                            <tr>
                                <td>{{ marque.nom }}</td>
                                <td>{{ marque.fournisseur.nom }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('marque_delete', { 'id': marque.id }) }}">delete</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('marque_show', { 'id': marque.id }) }}">show</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
