@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?c8qt8o');
	src:url('../fonts/icomoon.eot?#iefixc8qt8o') format('embedded-opentype'),
		url('../fonts/icomoon.woff?c8qt8o') format('woff'),
		url('../fonts/icomoon.ttf?c8qt8o') format('truetype'),
		url('../fonts/icomoon.svg?c8qt8o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'icomoon2';
	src:url('../fonts/icomoon2.eot?sx2mzq');
	src:url('../fonts/icomoon2.eot?sx2mzq#iefix') format('embedded-opentype'),
		url('../fonts/icomoon2.ttf?sx2mzq') format('truetype'),
		url('../fonts/icomoon2.woff?sx2mzq') format('woff'),
		url('../fonts/icomoon2.svg?sx2mzq#icomoon2') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-yahoo, .icon-windows8, .icon-VectorSmartObject1 {
	font-family: 'icomoon2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'icomoon3';
	src:url('../fonts/icomoon3.eot?mvadon');
	src:url('../fonts/icomoon3.eot?mvadon#iefix') format('embedded-opentype'),
		url('../fonts/icomoon3.ttf?mvadon') format('truetype'),
		url('../fonts/icomoon3.woff?mvadon') format('woff'),
		url('../fonts/icomoon3.svg?mvadon#icomoon3') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-youtube3 {
	font-family: 'icomoon3';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube3:before {
	content: "\e900";
}


.icon-viadeo:before {
	content: "\e60d";
}
.icon-arrow:before {
	content: "\e601";
}
.icon-building:before {
	content: "\e602";	
}
.icon-check:before {
	content: "\e603";
}
.icon-cross:before {
	content: "\e604";
}
.icon-domain:before {
	content: "\e605";
}
.icon-user:before {
	content: "\e606";
}
.icon-mail:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e607";
}
.icon-location:before {
	content: "\e608";
}
.icon-print:before {
	content: "\e609";
}
.icon-facebook:before {
	content: "\e60a";
}
.icon-twitter:before {
	content: "\e60b";
}
.icon-linkedin:before {
	content: "\e60c";
}

.icon-VectorSmartObject21:before {
	content: "\e902";
}
.icon-VectorSmartObject1:before {
	content: "\e903";
}
.icon-yahoo:before {
	content: "\e900";
}
.icon-windows8:before {
	content: "\e901";
}

