/* Standar Styles --------------------------------------------------------*/

body{
	background: none repeat scroll 0 0 #ebeef0;
	font-family: 'Open Sans', sans-serif;
	color: #727272;
	font-size: 14px;
	font-weight: 100;
	line-height: 23px;
	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
  	text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {	
	padding: 5px 0 15px 0;	
	margin: 0;	
	color: #272727;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
h2 {  
  padding-top: 31px; 
  margin: 0;  
  color: #de2346;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
h2.title-slog{
      color: #777;
    font-size: 33px !important;
}
span.lien_titre {
    font-size: 19px;
    font-weight: 600;
    margin-top: -31px;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 30%;
    text-align: center;
    color: white;
    background-color: #5e88a2;
}
.col-md-12.slogan.align_center {
    border-left: 2px solid #5e88a2;
    height: 113px;
    margin-top: 7px;
}
.align_logo {
    text-align: left;
}

.headerbox {
  width: 100%;  
  background:  no-repeat  50% 0 #EBEEF0;
}


.headerbox2 {
    width: 100%;
    background: #E0E5E9;
    height: 129px;
}
.row.tete {
    background: #E0E5E9 !important;
}
.icon-VectorSmartObject1 {
    color: #fff !important;
    font-size: 2em;
    margin: -20px -5px 0 0;
    padding: 3px;
    transition: color 0.5s ease 0s;
}
p.en {
    font-size: 11px;
}
.point{
    font-size: 40px;
    font-weight: 800;
} 
.text-fin{
    width: 81%;
    margin-left: 114px;
    text-align: center;
    font-size: 14px;
}
p.titre-footer {
    font-size: 28px;
    color: #B52146;
} 
.footer-text p{
  text-align: center;
  line-height: 15px;
}  
.mail{
  color: #B52146;
  font-weight: 600;
}
p {
    color: #777777;
    font-size: 16px;
    text-align: justify;
    font-family: Open Sans;
}
p.titre-text {
    font-weight: 600;
    margin-top: 43px;
    font-size: 19px;
}

li {
  font-size: 1.2em;
}
footer ul,
.sitemap,
.sitemap ul,
.crumbs ul,
header ul,
.owl-carousel,
.list-diary,
.list-diary ul,
.footer-down ul,
.events-carousel,
.events-carousel ul,
.list,
.testimonials,
ul.clubs-teams,
ul.players,
ul.single-carousel,
.post-options{
	margin: 0;
	padding: 0;
	list-style: none;
}
.btn-primary{
	color: #fff;
	font-size: 14px;
	border-color: #dedede;
	text-shadow:none;
}
.btn-primary:hover{
	border-color: #cdcdcd;
}
.btn-default{
	font-size: 14px;
	border-color: #dedede;
	text-shadow:none;
}
.btn:hover{
	opacity: 0.8;
}
.btn-primary:hover{
	color: #fff;	
}
.paddings{
	padding: 100px 0;
}
.padding-top{
	padding-top: 50px;
}
.padding-bottom{
	padding-bottom: 50px;
}
.padding-top-mini{
	padding-top: 30px;
}
.no-margin{
	margin: 0;
}
.full .selecter{width:65%;}
.bg-gray{
	background-color: #fcfcfc;
}
.bg-dark{
	background-color: #18191B;
}
.dark-home{
	height: 440px;
	max-width: 1230px;
	margin: 0 auto;
}
.border-top{
	border-top: 1px solid #dfdfdf;
}
.border-bottom{
	border-bottom: 1px solid #dfdfdf;
}
hr.tall {
	margin: 0;
	padding: 0;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.150), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.150), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.150), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.150), rgba(0,0,0,0));
}
.links li{
 line-height: 30px;
}
.links li a{
	color: #fff;
	padding-left: 5px;
	font-size: 15px;
}
.show-grid [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
	margin-bottom: 20px;
}

label {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  vertical-align: middle;
  width: 20%;
}
label.product {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
    width: 15%;
}

.campus input {
  width: 52% !important;
}


input {
    color: #595959;
    transition: border 0.5s ease 0s;
    width: 65%;
}
input.quantite {
    color: #595959;
    transition: border 0.5s ease 0s;
    width: 10%;
    border-color: #2a6496;
}
input_textarea {
    color: #595959;
    transition: border 0.5s ease 0s;
    width: 65%;
    height: 150px;
}
input:hover, input:focus{
	border-left: 3px solid #5e88a2;
  outline: none;
}

select {
  width: 20%;
}

.align_center{text-align: center;}
.align_left{text-align: left;padding-top: 18px;}
.align_right{text-align: right; margin-top: 15px;}

.wght_light{font-weight: 100;}
.wght_regular{font-weight: 500;}
/*.wght_semibold{font-weight: 600;}*/
.wght_bold{font-weight: 800;}

.no_left{padding-left: 0;}
.no_right{padding-right: 0;}
.no_padding{padding: 0;}

.fr{float: right;}
.fl{float: left;}

.small {
  color: #a1a1a1;
  display: inline-block;
  font-size: 0.85em;
  line-height: 15px;
  text-align: justify;
  vertical-align: top;
  width: 100%;
}

header .icon-arrow {
  display: none;
}

.smk_accordion.acc_with_icon {
  margin-bottom: 40px;
  margin-left: 18px;
}

/***** header *****/

#layout-header {background: no-repeat scroll 50% -40% #EBEEF0; }
#layout-header.vdeux {background: no-repeat scroll 50% 0 #EBEEF0; }
#layout-header.vtrois {background: no-repeat scroll 50% 0 #EBEEF0; }

.index1 {
    background: no-repeat scroll 50% 0 #EBEEF0 !important;
}
.index2 {
    background:  no-repeat scroll 50% 0 #EBEEF0 !important;
}
.index3 {
    background:  no-repeat scroll 50% 0 #EBEEF0 !important;
}
.index4 {
     background:  no-repeat scroll 50% 0 #EBEEF0 !important;
}

img.hand_monasso.hom.appears {
    width: 302px;

}

/*header .container {background: none repeat scroll 0 0 #fff; padding: 10px 10px 23px; }*/

.col-md-9.slogan {padding-top: 35px; }
.logo-top{ position: relative;}
.logo-top::after{ 
  content: '';
  position: absolute;
  width: 2px;
  height: 90px;
  background: #5E88A2;
  right: 0;
}
.logo-top img.logo_images3 {
    position: absolute;
    right: 25px;
    height: 90px;
}
.slogan h2 {font-size: 31px; padding-top: 10px; color: #b20838;}

/*.logo_images {margin-top: 1em; }*/


.hand_monasso {
  position: absolute;
  right: 200px;
  top: 2px;
  opacity:0;
  transform:scale(0.9);
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  z-index: 1;
 transition:opacity 1s ease 0s, transform 3s ease 0s;
 transform-origin: 50% 100%;
 -webkit-transform-origin: 50% 100%;
}

.hand_monasso_shadow {
  position: absolute;
  right: -200px;
  top: 11px;
  opacity:0;
  transform:scale(0.5);
  -moz-transform:scale(0.5);
  -webkit-transform:scale(0.5);
  transition:right 3s ease 0s,opacity 3s ease-in-out 0s, transform 3s ease 0s;
}


.hand_monasso_shadow.appears {
  position: absolute;
  right: 261px;
  opacity:0.5;
  transform:scale(1);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
}

.hand_monasso.appears {
  position: absolute;
  opacity:1;
  transform:scale(1);
  -moz-transform:scale(1);
 -webkit-transform:scale(1);
  width: 351px;
}

.hand_monasso1.hom {
  position: absolute;
  right: 81px;
  top: 83px;
  opacity: 1;
  width: 211px;
  transform:scale(1.5);
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  z-index: 1;
  transition:opacity 1s ease 0s, transform 3s ease 0s;
}




/***** end header *****/



/***** slide *****/

#slide {
  min-height: 448px;
  position: relative;
}
img.carre {
    width: 145px;
    margin-top: -46px;
}


.slide_caption {
    border-left: 4px solid #5e88a2;
    left: 0;
    opacity: 0;
    padding: 7px 0 18px 26px;
    position: absolute;
    top: 47px;
    transition: opacity 1s ease 0s;
}

.slide_caption.appears {
  opacity: 1;
}

.row.main-message p {
  margin: 20px 0;
}

.slide_caption h1 {
  color: #4d4d4d;
      font-size: 49pt;
    font-family: Open Sans;
    font-weight: lighter;
    padding-bottom: 40px;
    font-weight: 700;

}
h1.tit-h3 {
  color: #FFFFFF;
}

.slide_caption h3 {
      color: #FFFFFF;
    font-size: 31px;
    font-weight: 700;
}
.slide_caption p {
    font-size: 18px;
    font-weight: 500;
    color: #4d4d4d;
}

.slide_caption h3 a {
  background: none repeat scroll 0 0 #5e88a2;
  display: inline-block;
  padding: 10px;
  color: #fff;

}


/***** end slide *****/



/***** intro *****/

#layout-body .container {background: none repeat scroll 0 0 #fff; }


.container.back-footer {
  background:  repeat !important;
}

.container.back-footer1 {
 background: #39474a !important;
}

#layout-body .row {background: none repeat scroll 0 0 #fff; padding: 19px 26px; }

.row.back-footer {
   background: repeat !important;
}



   

.bloc_violet {
  background:  no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 145px;
  margin: 15px 0;
  padding: 25px;
  width: 153px;
}

.bloc_violet span {
  color: #fff;
  display: block;
  font-size: 2.4em;
  line-height: 0.9em;
}

.bloc_grey {
  background: none repeat scroll 0 0 #f4f6f7;
  padding: 10px;
  position: relative;
}

.signature {padding-top: 170px; }

.signature .icon-phone {
  background: none repeat scroll 0 0 #222222;
  border-radius: 50%;
  color: #fff;
  font-size: 0.6em;
  margin-right: 7px;
  padding: 3px;
  position: relative;
  top: -2px;
}

.bloc_grey  p:hover span{
  background: none repeat scroll 0 0 #6A049A;
}

.signature .icon-mail {
  background: none repeat scroll 0 0 #222222;
  border-radius: 50%;
  color: #fff;
  font-size: 0.6em;
  margin-right: 7px;
  padding: 3px;
  position: relative;
  top: -2px;
}

/***** end intro *****/

/***** formulaire *****/

.title {
  color: #b52146;
  display: block;
  font-size: 2.5em;
  font-weight: 900;
  margin: 0 0 10px;
}
.title1 {
    color: #000;;
    display: block;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 38px;
    
}

.acc_head, .acc_content header {
  background: none repeat scroll 0 0 #ebeef0;
  color: #000;
  font-size: 2em;
  height: 80px;
}

.acc_content header {
  margin: 35px 0 25px;
}

.acc_head span, header span {
  padding: 28px;
  display: inline-block;
  vertical-align: top;
}

.acc_head span:hover {
  cursor: pointer;
}

.counter {
  background:  no-repeat scroll 50% 50% #5e88a2;
  color: #fff;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 800;
  height: 80px;
  text-align: center;
  width: 98px;
}
.counter1 {
  background:  no-repeat scroll 50% 50% #5e88a2;
  color: #fff;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 800;
  height: 80px;
  text-align: center;
  width: 98px;
}



input[type="radio"] {
  border: medium none;
  display: inline-block;
  margin: 30px 0;
  width: 3%;
}

.error {
  color: #ff0000;
  font-size: 0.8em;
  left: 257px;
  position: relative;
  top: -5px;
  display:none;
}   

.acc_head .icon-user {
  display: none;
}

.acc_active .acc_head .icon-user {
  display: block;
}



.acc_active .counter {
  background: none repeat scroll 0 0 #B52146;
}
.acc_active .counter1 {
  background: none repeat scroll 0 0 #5e88a2;
}

.acc_head .icon-arrow {
  background: none repeat scroll 0 0 #f4f6f7;
  height: 80px;
  width: 80px;
}

.acc_head .icon-user, .acc_head .icon-building {
  color: #fff !important;
  font-size: 1.5em;
  margin: 11px 20px 0 0;
  padding: 3px;
  transition:color 0.5s ease 0s;
}

header .icon-building {
  color: #fff !important;
  font-size: 1.5em;
  margin: 11px 20px 0 0;
  padding: 3px;
  transition:color 0.5s ease 0s;
}

li.adresse > label {
  margin-top: 18px;
}
.acc_active .acc_head .icon-user, .acc_active .acc_head .icon-building {color: #6A049A; }

.accordion_in {margin-bottom: 20px; }

.acc_content {
  background: 33px 0 #f4f6f7;
  padding: 15px 0 0;
  position: relative;
}
.acc_content1 {
  background:  scroll 33px 0 #f4f6f7;
  padding: 15px 0 0;
  position: relative;
}
.acc_head + div {
  padding-top: 30px;
}
div#info_perso {
    margin-bottom: 30px;
}
li.inline {
  display: inline-block;
  vertical-align: top;
  width: 47.4%;
}
[class^="adresse-pro"] .add_pro, [class*="adresse-pro"] .add_pro, [class^="adresse-perso"] .add, [class*="adresse-perso"] .add{
  display: none;
}
.inline label {
  width: 61%;
}
.radio-box {
    display: inline-block;
    width: 60%;
    margin-left: 30px;
}
.inline input {
  width: 33%;
}
label.radio-label {
    width: auto;
    margin-right: 30px;
}
label span {
  display: none;
  font-size: 0.7em;
  font-weight: 100;
}

form li {
  list-style: outside none none;
  margin-bottom: 10px;
  position: relative;
}

form .icon-check, form .icon-cross {
  position: absolute;
  right: 0;
  top: 12px;
}

form div {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.list_diplome .selecter {width: 15%; }

.list_diplome div {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}

.last .counter {
  background:  no-repeat scroll 50% 50% #ff0000;
}

.list_diplome .selecter {width: 34.5%; }

.list_diplome label {width: 60.5%; }

.adresse div {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

form {
  padding-bottom: 20px;
  position: relative;
}

#info_prof {
  padding-bottom: 20px;
}

/*form {min-height: 662px; }*/

.submit {
  background: none repeat scroll 0 0 #B52146;
  color: #fff;
  display: block;
  font-size: 1.4em;
  font-weight: 500;
  margin: 0 auto 20px;
  padding: 14px 35px;
  position: relative;
  width: auto;
}
.submit1 {

  background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-size: 1.4em;
    font-weight: 500;
    margin: 0 auto 20px;
    padding: 14px 23px;
    position: relative;
    width: 324px;
}

.add {

    background-repeat: no-repeat;
    background-color: #5bc0de;
    color: #fff;
    display: inline;
    font-size: 1.4em;
    font-weight: 200;
    margin: 0 auto 20px;
    padding: 14px 23px;
    position: absolute;
    width: 50px;
}

.subfooter {
  font-size: 0.7em;
  line-height: 13px;
  text-align: center;
}

.subfooter .container {
  background: none repeat scroll 0 0 #ebeef0!important;
}

p.copyright {
  font-size: 12px !important;
  display: block;
  margin-bottom: 28px !important;
}

.subfooter p{
  color: #5b676f;
  margin: 0 0 10px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.icon-check {
  background: none repeat scroll 0 0 #5b676f;
  border-radius: 50%;
  color: #fff;
  font-size: 1.4em;
  padding: 7px;
}

.choix-contact {
  display: block;
  text-align: center;
  width: 100%;
}

footer .col-md-9.col-xs-12 > p {
  color: #5b676f;
  font-size: 2.4em;
  margin-top: 14px;
  text-align: center;
}

.icon-cross {
  background: none repeat scroll 0 0 #ff0000;
  border-radius: 50%;
  color: #fff;
  font-size: 1.1em;
  padding: 10px;
}

.list_jeune_fille{display: none;}


/***** end formulaire *****/

/***** footer *****/

footer p{
	font-size: 1.1em;
}

.title_footer {
  background: none repeat scroll 0 0 #5e88a2;
  color: #fff;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
  padding: 5px 10px 8px;
}

footer span {
  color: #5e88a2;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.col-md-35 div {
    background: none repeat scroll 0 0 #ebeef0;
    border: 1px solid #ebeef0;
    padding: 0 10px 10px;
}

.clear{float: none;clear: both;}

footer .col-md-35 {
  padding: 6px;
  width: 20%;
}

footer .col-md-3 div {
  background: none repeat scroll 0 0 #ebeef0;
  min-height: 143px;
  padding: 15px;
}

footer div p, footer div a {
  color: #000;
}

/*.reseaux_socio {
  margin: 0 auto;
  width: 80%;
}*/

.reseaux_socio li {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  width: auto;
}
.col-md-6.footer-text1 {
    margin-top: 19px;
}

p.pfooter {
    color: #98a09f;
    font-size: 15px;
    font-weight: 300;
    line-height: 13px;

}
.col-md-3.footer-text1 {
    margin-top: 15px;
}
p.pfooterlien a {
    color: #5e88a2;
    font-weight: 500;
}
p.pfooterlien a:hover {
    color: #98a09f;

}
p.pfootercenter.align_left {
    color: #5e88a2;
    font-weight: 300;
    font-size: 23px;
    line-height: 28px;
    margin-top: 30px;
}

footer .col-md-35 {
  width: 20%;
}

a.icon-facebook.page2, a.icon-twitter.page2, a.icon-linkedin.page2,a.icon-yahoo.page2,  a.icon-youtube3.page2, a.icon-viadeo.page2{
    background: none repeat scroll 0 0 #979f9f;
}
a.icon-facebook.page2:hover, a.icon-twitter.page2:hover, a.icon-linkedin.page2:hover, a.icon-yahoo.page2:hover,  a.icon-youtube3.page2:hover, a.icon-viadeo.page2:hover{
    background: none repeat scroll 0 0 #5e88a2;;
}

.arbre{
      margin-top: 35px;
}
.amicalement {
    margin-top: 146px;
    margin-left: 35px;
}
.reseaux_socio a {
  background: none repeat scroll 0 0 #989898;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 1.4em;
  height: 40px;
  padding: 10px;
  width: 40px;
  transform:rotate(0deg);
  transition:background 0.5s ease 0s,transform 0.5s ease 0s;
}

li.twitter {
    display: none;
}

.reseaux_socio a:hover {
  background: none repeat scroll 0 0 #5e88a2;
  transform:rotate(360deg);
}

.main-img{
  right: -500px;
  opacity: 0;
  position: relative;
  transition:opacity 0.7s ease 0s, right 0.7s ease 0s;
}


.main-img.appears {
  opacity: 1;
  right: -70%;
  top: 3px;
  z-index: 10;
}

.main-img-woman {
  position: absolute;
  right: 65%;
  top: 43px;
  z-index: 5;
  opacity: 0;
  transition:opacity 0.7s ease 0s, right 0.7s ease 0s;
}

.main-img-woman.appears {
  right: 19%;
  opacity: 1;
}

.bloc_violet {
  position: relative;
  -webkit-animation:jump 1s linear 0s 2 ;
  animation:jump 1s linear 0s 2 ;
}

@-webkit-keyframes jump{
  0%{top:0;}
  50%{top:-15px;}
  100%{top:0;}
}


@keyframes jump{
  0%{top:0;}
  50%{top:-15px;}
  100%{top:0;}
}

footer {
  margin-bottom: 20px;
}
.list_diplome input {
  width: 34%;
}

form .icon_code {
  top: 80px;
}

form .icon_pays {
  top: 140px;
}

.load-callback {
  bottom: 9px;
  position: absolute;
  right: 33%;
}

.add {
     display: inline-block;
    font-size: 0.9em;
    position: absolute;
    text-decoration: underline;
    text-align: right;
    width: 20%;
    margin-top: 18px;
    margin-left: -98px;

}
a#lieu_pro {
    display: inline-block;
    font-size: 0.9em;
    position: absolute;
    text-decoration: underline;
    text-align: right;
    width: 20%;
    margin-top: 18px;
    margin-left: -98px;
}

a.remove {
    display: inline-block;
    font-size: 0.9em;
    position: absolute;
    text-decoration: underline;
    text-align: right;
    width: 20%;
    margin-left: -98px;
    margin-top: 15px;
}

.msg-info {
  background:  no-repeat scroll 28% 50% rgba(0, 0, 0, 0);
  color: #6a049a;
  font-size: 1.2em;
  height: 30px;
  margin: 20px 0;
  padding: 2px 0;
  text-align: center;
  display: block;
}

.adresse div div {
  width: 100%;
  position:relative;
}

.choix-contact input {
  margin: 0 15px;
  width: auto;
}

.choix-contact > label {
  margin-right: 10px;
  width: auto;
}

.choix-contact > span {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.show_open {
  display: none !important;
}

.acc_active .show_open {
  display: inline-block !important;
}

.acc_active .hide_open {
  display: none!important;
}

.semi_full .selecter {
  width: 31%;
}

.obligatoire {
  font-size: 0.9em;
  margin: 10px 0 10px 11%;
}
.require {
  color: #ff0000;
  font-weight: 600;
}

label .require {
  display: inline-block;
  font-size: 1em;
  margin-left: 4px;
}

header .counter {
  background: none repeat scroll 0 0 #5e88a2;
}

#ajax-loader {
  bottom: 51px;
  position: absolute;
  right: 30%;
}

.telephone_prof div {
  display: inline-block;
  vertical-align: top;
  width: 65%;
}

.telephone_prof div div {
  position: relative;
  width: 100%;
}

.telephone_prof input {
  width: 70%;
}

/*.telephone_prof p {
  font-size: 1em;
}*/

.telephone_prof .icon-cross, .telephone_prof .icon-check  {
  right: -52px;
}
/***** footer *****/

/***** 302 *****/
/*.english .add {
    left: inherit;
    position: absolute;
    right: -45px;
    text-decoration: none;
    top: 20px;
}*/

.english .main-img-woman {
    top: 45px;
}
.col-md-35.col-xs-12 {
    margin: 0 0 15px;
}
img.logo_images {
    max-width: 100%;
}

/***** 303 *****/

@media screen and (max-width: 600px) { 
  #layout-header{
    background-position: 50% 0;
  }
  .logomobil{
    display: inline-block !important;
    width: 50% !important;
    margin-left: 25px;
  }
  .slide_caption {
    top: 190px;
  }
  span.hide_open {
      font-size: 22px;
      font-weight: 200;
      /* margin-top: -90px; */
      width: auto;
      margin-left: 0;
  }
  .text-fin {
      margin-left: 28px;
  }
  .point_text{
    margin-left: 0 !important;
  }
  p.pfooter {
    line-height: 20px;
    margin-left: 54px;
  }
  p.pfooterlien {
    margin-left: 54px;
  }
  .coordonne {
      /* margin-top: -84px; */
      font-size: 21px;
      /* margin-left: 37px; */
      width: 256px;
      padding: 15px !important;
  }

  .add, .add_pro {
    left: 60% !important;
    top: 380px !important;
    width: 59% !important;
  }
  input#pays_perso,input#pays_pro{
    margin-left: 0 !important
  }
  .submit1 {
    font-size: 14px !important;
    width: 246px !important;
  }

  p.pfootercenter.align_left {
    width: 285px;
    margin-left: -179px;
  }
  .reseaux_socio > li:first-child {
    display: inline-block !important;
  }
  .rejoindrez{
    margin-left: 49px !important;
  }
  img.imgarbre {
    width: 100%;
  }
  img.amicalement {
    width: 100%;
    margin-left: -87px;
    margin-top: -214px;
  }
  img.pV {
    width: 100%;
    margin-top: 33px;
  }
  .headerbox2{
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 850px) { 
     .submit1 {
    width: 50% !important;
  }
  .adresse div {
    width: 100% !important;
  }
  input#pays_perso,input#pays_pro{
    margin-left: 0 !important
  }
  .add, .add_pro {
      left: 75% !important;
      top: 383px !important;
      width: 29% !important;
  }
  .point {
    margin-left: -686px !important;
  }
  p.pfooterlien,p.pfooter {
    margin-left: 250px;
  }
  p.pfootercenter.align_left {
    margin-left: 32%;
  }
  p.rejoindrez {
    margin-left: 268px !important;
  }
  .selecter.closed {
    width: 100% !important;
  }
  img.logo_images3 {
    margin-top: -122px;
  }
  .row.tete {
    height: 165px !important;
  }
  .amicalement {
    margin-top: 30px;
  }
  ul.reseaux_socio {
    text-align: left;
  }
  .col-md-12.slogan.align_center {
    width: 646px;
  }
  .slide_caption {
    top: 175px;
  }
  #slide img {
    width: 44% !important;
    margin-top: 41px !important;
    right: 139px !important;
  }


}
.add {

    background-repeat: no-repeat;
    background-color: #5bc0de;
    color: #fff;
    display: inline;
    font-size: 1.4em;
    text-align: center;
    font-weight: 200;
    margin: 4px 20px;
    padding: 14px 23px;
    position: absolute;
    width: 120px;
}
.textTotal {

    width: 270px;
}
.total {
    font-weight: bold;
    width: 270px;
}
.input.qte{
    width: 13%;
}
.valider{
    display: inline;
    position: relative;
    left: 200px;
    width: 13%;
    font-size: 1.4em;
}
