@media screen and (max-width: 1280px) {
	
	footer li {display: block; }
	footer, footer a {padding: 20px 0; }
	.menu-footer {text-align: center; }
	.menu-footer .col-lg-3 {margin-bottom: 10px; }
	.navbar-nav {margin: 0; }
	.sub-footer {margin-top: 25px; }
	footer .col-lg-3 {margin: 20px 0; width: 48%; }

	}

@media screen and (max-width: 700px){
	#slide img {display: none ;} 
	img.logo_images3 {
	    width: 162px;
	    margin-top: 6px;
	    margin-left: -72px;
	    position: absolute;
	    z-index: 9;
	}
	.adresse div {
	    width: 100%;
	}
}
@media screen and (min-width: 982px)and (max-width: 1082px){
#slide img {    width: 29% !important;
    margin-top: 34px !important;
    right: 139px !important;} 
}

@media screen and (max-width: 1080px) {
	.submit1 {
	    width: 324px ;
	}
	.adresse div {width: 100%; }

	.logo {text-align: center; }
	.point {  margin-left: -265px8;}
	#slide img {    width: 37%;
    margin-top: 36px;
    right: 139px;} 
	.slide_caption h1 {font-size: 200%; }
	.slide_caption h3 {font-size: 162%; }
	.bloc_violet {margin: 15px auto; }
	.three-column {text-align: center; }
	label {
	  display: block;
	  width: 100%!important;
	  text-align: left!important;;
	}
	.selecter {width: 100%;margin-bottom: 20px; }
	input:not(.submit1) {
	  margin-bottom: 20px;
	  width: 95% !important;    
	  margin-left: 0 !important;
	}
	.list_diplome div, .list_diplome .selecter {
	  width: 100%;
	}
	.submit {
	  float: none;
	  margin: 0 auto;
	}
	.title {
	  font-size: 200%;
	}
	footer, footer a {
	  text-align: center;
	}
	.reseaux_socio a {
	  margin: 9px auto;
	}

	.signature {
	  padding-top: 50px;
	}
	.slogan h2 {
	  margin: 0 auto;
	  width: 70%;
	}
	.submit {
	  left: 0;
	  width: 100%;
	}
	/*.acc_head .icon-user,  .acc_head .icon-building, .acc_head .icon-arrow {display: none; }*/
	footer .col-xs-12 {margin: 15px 0; }
	.small {width: 85%; }
	.choix-contact {width: 100%; }
	.choix-contact > span {width: 100%; }
	.choix-contact input {width: auto !important; }
	.choix-contact > label {
	  display: inline-block;
	  margin-right: 8%;
	  width: 10% !important;
	}
	.submit {margin-bottom: 18px; }
	footer .col-md-9.col-xs-12 > p {
	  line-height: 42px;
	  margin-top: 0;
	}
	.headerbox{
		background: none !important;
	}

	footer .row {text-align: center !important; }
	
	footer .col-md-35 {width: 50%; }
	li.inline {width: 100%; }
	.add, .add_pro {        
		left: 83%;
    	top: 377px;
    	width: 29% !important; 
   	}
	input[type="radio"] {
	    display: block;
	    margin: 5px;
	    float: left;
	    width: auto !important;
	}
	.hide_mobile{display: none;}
	.main-img-woman {
	  top: 29px !important;
	  width: 23% !important;
	}
	.error {
	  left: 0 !important;
	  top: -20px;
	}
	form .icon-check, form .icon-cross {
	  position: absolute;
	  right: -59px;
	  top: 39px;
	}
	.semi_full .selecter {width: 100%; }
}

	@media screen and (max-width: 670px) {
	.add, .add_pro {
	    left: 60% !important;
	    top: 380px !important;
	    width: 59% !important;
	}
	.col-md-4.footer-text1 {
	    margin-left: 160px;
	}
	.point {
	    font-size: 40px !important;
	    font-weight: 800 !important;
	    margin-left: -460px !important;
	}
	.align_left {
	    text-align: center;
	    padding-top: 18px;
	}
	.slogan h2 {
	  font-size: 1.5em;
	  width: 100%;
	  text-align: center;
	}
	.container {width: 90%; }
		/*.slide_caption {display: none; }
		#layout-body .row {padding: 20px 10px; }*/
		#accordion {margin-top: 19px; }
	.acc_head .counter {display: block; float: left; }
	.acc_active .acc_head {
	  background: none repeat scroll 0 0 #5e88a2;
	  color: #fff;
	}
	
	form div {width: 100%; }
	.signature {padding-right: 15px; }
	.bloc_violet {margin: 52px auto 10px; }
	.submit1 {width: 334px; }

	.main-img-woman.appears {top: 7px; }
	.reseaux_socio > li:first-child {display: block; }
	footer .col-md-35 {width: 100%; }
	.show_open {padding: 14px !important; }
	.inline .selecter, .selecter {width: 93%; }
	input {width: 93% !important; }
	.acc_active .counter {display: none; }
	.acc_active header span {
	  padding: 14px;
	}
	.icon-arrow {display: none; }
	.full .selecter {width: 93%; }	
	.choix-contact > span {
  	display: block; width: 100%; }
  	.choix-contact > label {
	  display: inline-block;
	  margin: 21px 0;
	  vertical-align: middle;
	  width: 28% !important;
	}
	.radio-box {
	    width: 100%;
	}
}
@media screen and (max-width:500px){
	.coordonne {
	    max-width: 200px;
	}
	.acc_head .counter{
		display: none;
	}
}