@media screen and (max-width: 1280px) {
	
	footer li {display: block; }
	footer, footer a {padding: 20px 0; }
	.menu-footer {text-align: center; }
	.menu-footer .col-lg-3 {margin-bottom: 10px; }
	.navbar-nav {margin: 0; }
	.sub-footer {margin-top: 25px; }
	footer .col-lg-3 {margin: 20px 0; width: 48%; }

	}

@media screen and (max-width: 770px){
#slide img {display: none;}

img.logo_images3 {
    width: 158px;
    margin-top: 26px;
    margin-left: -102px;
}
.headerbox {

    background: none !important;
}
	.point {
    margin-left: -499px;
}
p.pfooter,p.pfooterlien {
    text-align: center;
}
.col-md-3.row.back-footer1 p {
    text-align: center;
}
.submit1 {

    width: 324px !important;
}
	
}

@media screen and (max-width: 1080px) {
	p.pfooter, p.pfooterlien {
    text-align: center;
}
p.pfootercenter.align_left {

    text-align: center;
}
	.point { margin-left: -685px;}
	.logo {text-align: center; }
	#slide img {width: 86%; margin-top: 86px;right: 100px;} 
    img.logo_images3 { margin-top: -70px;}
    .slide_caption {top: 113px;}
	.slide_caption h1 {font-size: 200%; }
	.slide_caption h3 {font-size: 162%; }
	.bloc_violet {margin: 15px auto; }
	.three-column {text-align: center; }
	label {
	  display: block;
	  width: 100%!important;
	  text-align: left!important;;
	}
	.selecter {width: 100%;margin-bottom: 20px; }
	input {
	  margin-bottom: 20px;
	  width: 100% !important;
	}
	.submit1 {

    width: 324px !important;
}
	
	.list_diplome div, .list_diplome .selecter {
	  width: 100%;
	}
	.submit {
	  float: none;
	  margin: 0 auto;
	}
	.title {
	  font-size: 200%;
	}
	footer, footer a {
	  text-align: center;
	}
	.reseaux_socio a {
	  margin: 9px auto;
	}

	.signature {
	  padding-top: 50px;
	}
	.slogan h2 {
	  margin: 0 auto;
	  width: 70%;
	}
	.submit {
	  left: 0;
	  width: 100%;
	}
	.acc_head .icon-user,  .acc_head .icon-building, .acc_head .icon-arrow {display: none; }
	footer .col-xs-12 {margin: 15px 0; }
	.small {width: 85%; }
	.choix-contact {width: 100%; }
	.choix-contact > span {width: 100%; }
	.choix-contact input {width: auto !important; }
	.choix-contact > label {
	  display: inline-block;
	  margin-right: 8%;
	  width: 10% !important;
	}
	.submit {margin-bottom: 18px; }
	footer .col-md-9.col-xs-12 > p {
	  line-height: 42px;
	  margin-top: 0;
	}
	.back-footer1 p {
    text-align: center;
}
	footer .row {text-align: center !important; }
	footer .col-md-35 {width: 50%; }
	li.inline {width: 100%; }
	.add, .add_pro, a.remove {    left: 77%;top: 385px; width: 127px !important; }
	input[type="radio"] {
	  display: inline-block;
	  margin: 30px 10px;
	  width: 3% !important;
	}
	.hide_mobile{display: none;}
	.main-img-woman {
	  top: 29px !important;
	  width: 23% !important;
	}
	.error {
	  left: 0 !important;
	  top: -20px;
	}
	form .icon-check, form .icon-cross {
	  position: absolute;
	  right: -59px;
	  top: 39px;
	}
	.semi_full .selecter {width: 100%; }

@media screen and (max-width: 670px) {
	/*.headerbox {
    width: 100%;
    background:none;
}*/
	
	.align_left {
    text-align: center;
    padding-top: 18px;
}
	.slogan h2 {
	  font-size: 1.5em;
	  width: 100%;
	  text-align: center;
	}
	.container {width: 90%; }
	.slide_caption {display: none; }
	
	#accordion {margin-top: 19px; }
	.acc_head .counter {display: none; }
	.acc_active .acc_head {
	  background: none repeat scroll 0 0 #BEBEBE;
	  color: #fff;
	}
	.adresse div {width: 100%; }
	form div {width: 100%; }
	.signature {padding-right: 15px; }
	.bloc_violet {margin: 52px auto 10px; }

	.main-img-woman.appears {top: 7px; }
	
	footer .col-md-35 {width: 100%; }
	.show_open {padding: 14px !important; }
	.inline .selecter, .selecter {width: 93%; }
	input {width: 93% !important; }
	.acc_active .counter {display: none; }
	.acc_active header span {
	  padding: 14px;
	}
	.icon-arrow {display: none; }
	.full .selecter {width: 93%; }	
	.choix-contact > span {
  	display: block; width: 100%; }
  	.choix-contact > label {
	  display: inline-block;
	  margin: 21px 0;
	  vertical-align: middle;
	  width: 28% !important;
	}
	