{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div >
                <div class="accordion_in">
                    <div class="acc_head">
                        <span class="hide_open">Ajout Fournisseur :</span>
                        <span class="fr "></span>
                    </div>
                    <div class="acc_content1">
                        <a href="{{ path('accueil')}}">Accueil</a>
                        <form id="create-fournisseur" method="POST" action="{{ path("fournisseur_add") }}" enctype="multipart/form-data" novalidate>
                            <input type="hidden" name="id" value="{{ fournisseur.id }}">
                            <div id="info_perso">
                                <ul id="ul_perso">
                                    <li>
                                        <label>nom</label>
                                        <input type="text" name="nom" id="nom" value="{{ fournisseur.nom }}" required>
                                    </li>
                                    <li>
                                        <label>Tel</label>
                                        <input type="text" name="tel" id="tel" value="{{ fournisseur.tel }}" required>
                                    </li>
                                    <li>
                                        <label>Adresse </label>
                                        <input type="text" name="adresse"  id="adresse" value="{{ fournisseur.adresse }}" required>
                                    </li>

                                    <input type="button" value="Ajouter" class="btn-success" onclick="addFournisseur()">
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function addFournisseur(){
            if($('#nom').val() == '' || $('#tel').val() == '' || $('#adresse').val() == ''){
                alert('Tous les Champs sont obligatoires')
            }else {
                $('#create-fournisseur').submit();
            }
        }

    </script>
{% endblock %}