{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div >
                <div class="accordion_in">
                    <div class="acc_head">
                        <span class="hide_open">Listes Action:</span>
                        <span class="fr "></span>
                    </div>
                    <div class="acc_content1">
                        <ul id="ul_perso">
                            <li>
                                <label>Produit</label>
                                <a href={{ path("product_index") }} class="button">Listes Produits</a>
                                <a href={{ path("product_add") }} class="button">Ajout Produit</a>
                            </li>
                            <li>
                                <label>Marque</label>
                                <a href={{ path("marque_index") }} class="button">Listes Marques</a>
                                <a href={{ path("marque_add") }} class="button">Ajout Marque</a>
                            </li>
                            <li>
                                <label>Fournisseur</label>
                                <a href={{ path("fournisseur_index") }} class="button">Listes Fournisseurs</a>
                                <a href={{ path("fournisseur_add") }} class="button">Ajout Fournisseur</a>
                            </li>
                            <li>
                                <label>Client</label>
                                <a href={{ path("client_formulaire") }} class="button">Formulaire client</a>
                                {#<a href={{ path("fournisseur_add") }} class="button">Ajout Fournisseur</a>#}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
